
body {
    margin: 0;
    text-align: center;
    font-family: monospace, Merriweather, sans-serif;
    font-size: 124%;
}
hr {
    width: 15%;
    border-style: dotted;
    border-width: 6px 0 0 0;
    border-color: #EAF6F6;
}
h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}
h2 {
    margin-top: 0;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a {
    color: #11999E;
}
.top_container {
    background-color: white;
    padding-top: 150px;
    position:  relative;
}
.middle_container {
}
.bottom-container {
    padding-top: 6%;
    margin: 50px auto 0 auto;
    background-color: #66BFBF;
}
.pro {
    text-decoration: underline;
}
.big_image {
    width: 60%;
}
.bottom_cloud {
    position: absolute;
    left: 20%;
    bottom: 50%;
    display:none;
}
.top_cloud {
    position: absolute;
    left: 63%;
    top: 14%;
    display: none;
}
.skill-row {
    line-height: 2;
    text-align: left;
    margin: 2% auto 10% auto;
    width: 50%;
}
.computer-image {
    margin: auto 30px auto auto;
    float: left;
    width: 25%;
}
.chilli-image {
    margin: auto 30px auto auto;
    float: right;
    width: 25%;
}
.skill-text0 {
    /*clear: left;*/
}
.skill-text1 {
    /*clear: right;*/
}
.skill-heading1 {
}
.skill-heading0 {
}
.description {
    margin: 0% auto 11% auto;
    width: 70%;
}
.copyright {
    padding-bottom: 50px;
    margin: 30px auto auto auto;
    color: #EAF6F6;
}
.footer-link {
    margin: 0 30px 0 30px;
   
}
.skill-header {
    margin: 7% auto 10% auto;
}
.get-in-touch {
    margin: 40px auto 40px auto;
}

.btn {
    background: 11cdd4;
    background-image: -webkit-linear-gradient(top, 11cdd4, 11999e);
    background-image: -moz-linear-gradient(top, 11cdd4, 11999e);
    background-image: -ms-linear-gradient(top, 11cdd4, 11999e);
    background-image: -o-linear-gradient(top, 11cdd4, 11999e);
    background-image: linear-gradient(to bottom, 11cdd4, 11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 22px;
    background: #66BFBF;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.btn:hover {
    background: #186670;
    text-decoration: none;
}

.end-text {
    margin: 0 auto 70px auto;
}
.contact-me {
    margin-top: 150px;
}
